[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "dependencies/gpuapi"]
	path = dependencies/gpuapi
	url = https://github.com/AlexanderVeselov/GpuApi
[submodule "dependencies/mathlib"]
	path = dependencies/mathlib
	url = https://github.com/AlexanderVeselov/MathLib
