[submodule "dependencies/SPIRV-Cross"]
	path = dependencies/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "dependencies/gpuapi"]
	path = dependencies/gpuapi
	url = https://github.com/AlexanderVeselov/GpuApi
